@model List<Yemeksistemi.Models.Category>

@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">

    <h1 class="h3 mb-4 text-gray-800">Kategoriler</h1>

    <form method="get" asp-action="Index">
        <div class="input-group mb-3" style="max-width:400px;">
            <input type="text" name="p" class="form-control" placeholder="Kategori ara..." />
            <button class="btn btn-primary" type="submit">Ara</button>
        </div>
    </form>

    <a href="/Category/AddCategory" class="btn btn-primary mb-3">
        + Yeni Kategori
    </a>
    <a href="/Category/ExportExcel" class="btn btn-success mb-3">
        Excel İndir
    </a>

    <a href="/Category/ExportPdf" class="btn btn-danger mb-3">
        PDF İndir
    </a>
    <div class="card shadow mb-4">

        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                Kategori Listesi
            </h6>
        </div>

        <div class="card-body">

            <div class="table-responsive">

                <table class="table table-bordered table-hover">

                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Kategori Adı</th>
                            <th width="180">İşlemler</th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CategoryId</td>
                                <td>@item.CategoryName</td>

                                <td>

                                    <a href="/Category/DeleteCategory/@item.CategoryId"
                                       class="btn btn-danger btn-sm">
                                        Sil
                                    </a>

                                    <a href="/Category/EditCategory/@item.CategoryId"
                                       class="btn btn-warning btn-sm">
                                        Güncelle
                                    </a>

                                </td>

                            </tr>
                        }

                    </tbody>

                </table>

            </div>

        </div>

    </div>

</div>